<div class="container">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel [selected]="tabSelected === 0">
            <ng-template pTemplate = "header">
                <i class="pi pi-pencil"></i>
                <span>Registrar Servicio</span>
            </ng-template>
            <app-service-form *ngIf="tabSelected === 0"></app-service-form>
        </p-tabPanel>
        <p-tabPanel [selected]="tabSelected === 1">
            <ng-template pTemplate = "header">
                <i class="pi pi-user"></i>
                <span>Header II</span>
            </ng-template>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.</p>
        </p-tabPanel>
    </p-tabView>
</div>
