<div class="container">
    <div class="menu">
        <button pButton type="button" label="Primary" routerLink="/form"></button>
        <button pButton type="button" label="Secondary" class="p-button-secondary"  routerLink="/list"></button>
    </div>
    <div class="box-title">
        <h2>
            <div class="title-one">
                <div class="one">Handy</div><div class="two">man</div> 
            </div>
        </h2>
        <h1>Registrar Servicio </h1>
    </div>
    <router-outlet></router-outlet>
</div>
